.banner {
    width: 100%;
    height: 150px;
    background-size: cover; 
    background-position: center; 
    align-items: center;
    justify-content: center;
    display: flex;
  }

.banner h1 {
    font-size: 45px;
  }

.banner h1.design { 
    color: #ab3430;
    text-shadow: 2px 2px 4px #69211f;
  }

.banner h1.modeling {
    color: white;
    text-shadow: 2px 2px 4px rgb(119, 119, 119); 
  }

.underlinedText {
    margin-top: 20px;
    font-size: 25px;
    position: relative;
    align-items: center;
    justify-content: left;
    display: flex;
  }

.underlinedText span {
    display:block;
  }

.underlinedText span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 300px;
    height: 3px;
    background-color: black;
  }

.chairmanImage {
    margin-top: 30px; 
    margin-left: -50px;
    display: grid;
    grid-template-columns: 230px 230px 230px;
    justify-content: left;
  }

.chairmanImage img {
    clip-path: inset(0px 50px 0px 50px);
    width: auto; 
    max-height: 200px; 
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
}

.chairmanSubtitle {
  margin-top: 8px; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 30px;
  width: 655px;
}

.subtitle {
    color: #ab3430;
    text-shadow: 0.3px 0.3px 0.6px #69211f;
    font-style: italic; 
  }