nav {
	width: 100%;
	position: fixed;
	bottom: 20px;
	left: 0;
	z-index: 1000;

	display: flex;
	justify-content: center;
	align-items: center;
}

.links {
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;

	padding: 20px 20px;
	display: flex;
	background-color: #AB2317;
	border-radius: 50px;
	font-size: 0;
    text-decoration: none;
	font-family: 'Geist', sans-serif;
	font-weight: 300;
}

.links a {
	height: 100%;
	display: inline-block;
	position: relative;
	padding: 0 20px;

	z-index: 1;
	text-decoration: none;
	text-align: center;
    justify-content: center;
    
	color: #ECDCC2;
	text-decoration: none;
	line-height: 50px;
	font-size: 18px;

	transition: all 0.5s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 00);
}

.links a:hover {
	color: white;
}

.current {
	color: white;
	border-radius: 25px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.links .animation {
	position: absolute;
	height: 100%;
	z-index: 0;
	transition: width .5s ease 0s;
	border-radius: 8px;
}

@media (max-width: 530px) {
	nav {
		bottom: 0;
	}

	.links {
		width: 100%;
		font-size: 16px;
		border-radius: 0;
		gap: 5px;
	}

	.links a {
		padding: 0 10px;
		line-height: 40px;
	}
}