nav {
	width: 100%;
	box-sizing: border-box;
	position: fixed;
    bottom: 0;
}

.navbar {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 20px;
}

.links {
	display: flex;
	width: fit-content;
	height: fit-content;
	background-color: rgba(170, 51, 47, 0.75);
	border-radius: 15px;
	font-size: 0;
    text-decoration: none;
	font-family: 'Racing Sans One', sans-serif;
}

.links li {
	line-height: 50px;
	height: 100%;
	font-size: 18px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
    justify-content: center;
    margin-right: 40px;
}

.links a {
	color: #ECDCC2;
	text-decoration: none;
}

.links .current a {
	color: white;
	border-radius: 25px;
}

.links .animation {
	position: absolute;
	height: 100%;
	z-index: 0;
	transition: width .5s ease 0s;
	border-radius: 8px;
}


/* .links .start-home, a:nth-child(2):hover~.animation {
	width: 100px;
    border-radius: 25px;
	left: 0;
	background-color: #ccd0cf;
    box-shadow: 15px;
} */

@media 