@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  src: local('Geist'), url(./fonts/GeistVF.ttf) format('truetype');
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  font-family: 'Geist', sans-serif;

  background-repeat: no-repeat;
  //background-image: url('../public/homebg.png');
  background-position: center;
  background-size: contain;

  transition: background-color 0.3s ease;
}

main {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;

  max-width: 70em;
}

main-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  main-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  color: #ECDCC2;
}

@media (max-width: 600px) {
  main {
    
  }
}