@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  src: local('Geist'), url(./fonts/GeistVF.ttf) format('truetype');
}


html, body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: 'Geist', sans-serif;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: background-color 0.3s ease;
}